.Bar {
  background-color: rgba(230, 230, 230, 0.39);
}

.Bar nav {
  padding: 10px 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Bar nav span {
  font-size: 30px;
}

.Bar nav a {
  margin-left: 10px;
}

.SideBar {
  position: absolute;
  width: 5%;
  left: 15%;
  top: 30%;
}

.SideBar ul {
  list-style: none;
  padding-left: 0;
}

.SideBar ul li {
  font-size: small;
  padding-bottom: 5%;
}

.SideBar ul li Link{
  text-decoration: none;
}
