.content{
    margin: 5% 25%;
}

.self_img1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.main_header{
    display: flex;
    border-bottom: solid 1px #E9ECEF;
    padding-bottom: 2%;
    margin-bottom: 6%;
}

.main_title{
    font-weight: bold;
    font-size: large;
    width: 100%;
}

.main_sidetitle{
    width: 100%;
}